.h1 {
  color: white; }

.solar_system {
  background-image: url("space_bg.png");
  background-size: contain;
  background-position-y: top;
  height: 100vh;
  z-index: -1; }

.earth_atmosphere {
  height: 70vh;
  background: linear-gradient(180deg, #007ED1, #4DD4FF); }

.mars_atmosphere {
  height: 70vh;
  background: linear-gradient(180deg, #D56F00, #F4B822); }

.mars_orbit {
  background-image: url("space_bg.png");
  height: 100vh;
  background-size: contain;
  background-position: bottom; }

.facts li {
  color: white;
  font-size: 20px;
  width: 80%; }

.mars_lg {
  height: 500px;
  margin-left: 50%;
  margin-top: -25%; }

#rocket {
  position: absolute;
  margin-left: 55%;
  height: 265px;
  width: 216px;
  background: url("Rocket.png") 0px 0px;
  z-index: 2;
  mix-blend-mode: white; }

#rocket .launchAnimation {
  animation: thrust 1.5s steps(2) infinite; }

@keyframes thrust {
  from {
    background-position: 216px 0; }
  to {
    background-position: 1081px 0; } }
button {
  background: none;
  border: 3px solid white;
  width: 25%;
  color: white;
  padding: 5px;
  margin-top: 10px;
  font-size: 20px; }

.land {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: -1; }

.earth_land {
  background: #6ED800; }

.mars_land {
  background: #DB8400; }

#mars {
  position: absolute;
  height: 230px;
  width: 230px;
  background: url("Spritesheet.png") 0px 0px;
  margin: 15% 60%; }

#mars:hover {
  animation: planet_rotation 1.25s steps(5) infinite; }

#earth {
  position: absolute;
  height: 250px;
  width: 230px;
  background: url("Earth_Spritesheet.png") 0px 0px;
  margin-top: 27%;
  margin-left: 35%; }

#earth:hover {
  animation: earth_planet_rotation 1.25s steps(5) infinite; }

#sun {
  position: absolute;
  margin: 20% 45%; }
  #sun p {
    position: absolute;
    padding: -15%;
    font-size: 20px;
    margin: -15% 100%; }
  #sun img {
    border-radius: 100%;
    box-shadow: 0px 0px 20px 20px #B14000;
    height: 200px;
    width: 200px;
    margin: 0 auto; }

#mercury {
  position: absolute;
  margin-top: 25%;
  margin-left: 56.5%;
  height: 40px;
  width: 40px;
  background-image: url("Images/Mercury.png");
  background-size: contain;
  background-repeat: no-repeat; }
  #mercury p {
    position: absolute;
    padding: -15%;
    font-size: 20px;
    margin: -15% 100%; }

#venus {
  position: absolute;
  margin: 20% 39%;
  height: 75px;
  width: 75px;
  background-image: url("Images/Venus.png");
  background-size: contain;
  background-repeat: no-repeat; }
  #venus p {
    position: absolute;
    padding: -15%;
    font-size: 20px;
    margin: -15% 100%; }

#jupiter {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 500px;
  background-image: url("Images/Jupiter.png");
  background-size: contain;
  background-repeat: no-repeat; }

#saturn {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 750px;
  background-image: url("Images/Saturn.png");
  background-size: contain;
  background-repeat: no-repeat; }

#neptune {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 300px;
  height: 300px;
  background-image: url(Images/Neptune.png);
  background-size: contain;
  background-repeat: no-repeat; }

#uranus {
  position: absolute;
  top: 10%;
  right: 0;
  width: 350px;
  height: 350px;
  background-image: url("Images/Uranus.png");
  background-size: contain;
  background-repeat: no-repeat; }

#launchpad {
  position: absolute;
  margin-top: 37%;
  margin-left: 72.5%; }

@keyframes planet_rotation {
  from {
    background-position: 0px 0; }
  to {
    background-position: 1150px 0; } }
@keyframes earth_planet_rotation {
  from {
    background-position: 1250px 0; }
  to {
    background-position: 0px 0; } }

/*# sourceMappingURL=main.css.map */
