@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body{
    font-family: 'Orbitron', sans-serif;
}

a {
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
    cursor: default;
}

.h1 {
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.solar_system {
    background-image: url('space_bg.png');
    background-size: contain;
    background-position-y: top;
    height: 100vh;
    z-index: -1;
}

#loading {
    background-image: url('Loading_Background.png');
    background-repeat: no-repeat;
    background-size: cover;   
    height: 100vh;
    width: 11500px;
    // animation: loading 1.5s steps(4);
}

#title {
    opacity: 0;
}

// @keyframes loading{
//     from{
//         background-position: 0px 0; 
//     }to{
//         background-position: 11500px 0;
//     }
// }

.rocket_loading {
    position: absolute;
    margin: 25% 45%;
    transform: rotate(90deg);
    // margin-top: 350px;
    height: 294px;
    width: 140px;
    background: url('Rocket_Loading.png') 0px 0px; 
    z-index: 2;
    mix-blend-mode: white; 
    animation: spaceflight 1.5s steps(6) infinite;
}

@keyframes spaceflight{
    from{
        background-position: 0px 0;
    }to{
        background-position: 852px 0;
    }
}
.earth_atmosphere{
    height: 70vh;
    background: linear-gradient(180deg, #007ED1, #4DD4FF);
}

.mars_atmosphere{
    height: 70vh;
    background: linear-gradient(180deg, #D56F00, #F4B822);
}

.orbit{ 
    background-image: url('space_bg.png');
    height: 100vh;
    background-size: contain;
    background-position: bottom;
}

.facts li{
    color: white;
    font-size: 20px;
    width: 75%;
}

#mars_facts{
    opacity: 0;
}

.mars_lg {
    height: 500px;
    margin-left: 50%;
    margin-top: -25%;
}

#rocket {
    position: absolute;
    margin-left: 55%;
    // margin-top: 350px;
    height: 294px;
    width: 140px;
    background-image: url('Rocket.png'); 
    z-index: 2;
    mix-blend-mode: white;   
}   


.launchAnimation{
    animation: thrust 1s steps(7) infinite;
}

@keyframes thrust{
    from{
        background-position: 0px 0;
    }to{
        background-position: 994px 0;
    }
}

button {
    background: none;
    border: 3px solid white;
    width: 25%;
    color: white;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}

.land {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: -1;
}

.earth_land {
    background: #6ED800;
}

.mars_land {
    background: #DB8400;
}

#mars {
    position: absolute;
    height: 190px;
    width: 190px;
    background: url('Spritesheet.png') 0px 0px;   
    // animation: planet_rotation 1s steps(5) infinite;
    margin: 15% 60%;

    p {
        font-size: 20px;
        margin: -17% 75%;
    }

}

#mars:hover {
    animation: mars_planet_rotation 1.25s steps(5) infinite;
}

#earth {
    position: absolute;
    height: 250px;
    width: 230px;
    background: url('Earth_Spritesheet.png') 0px 0px;
    margin-top: 27%;
    margin-left: 35%;

    p {
        font-size: 20px;
    }
}

#earth:hover {
    animation: earth_planet_rotation 1.25s steps(5) infinite; 
}

#sun {
    position: absolute;
    margin: 20% 45%;

    p {
        position: absolute;
        padding: -15%;
        font-size: 20px;
        margin: -100% 100%;
    }

    img {
        border-radius: 100%;
        box-shadow: 0px 0px 20px 20px #B14000;
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }
}

#mercury {
    position: absolute;
    margin-top: 27%;
    margin-left: 56.5%;
    height: 40px;
    width: 40px;  
    background-image: url('Images/Mercury.png');
    background-size: contain;   
    background-repeat: no-repeat;
    opacity: 0.4;

    p {
        position: absolute;
        padding: -15%;
        font-size: 20px;
        margin: -20% 116%;
    }
}

#venus {
    position: absolute;
    margin: 15% 30%;
    height: 150px;
    width: 150px;
    background: url('venus_spritesheet.png') 0px 0px;
    // background-size: cover;

    p {
        position: absolute;
        padding: -15%;
        font-size: 20px;
        margin: -15% 100%;
    }
}

#venus:hover {
    animation: venus_planet_rotation 3s steps(4) infinite; 
}

#jupiter {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 500px;
    background-image: url('Images/Jupiter.png');
    background-size: contain;   
    background-repeat: no-repeat;

    p {
        font-size: 20px;
        margin-top: 25%;
        margin-left: -25%;
    }
}

#saturn {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 750px;
    background-image: url('Images/Saturn.png');
    background-size: contain;   
    background-repeat: no-repeat;
    opacity: 0.4;

    p {
        font-size: 20px;
        margin: 35% 85%;
    }
}

#neptune {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 300px;
    height: 300px;
    background-image: url('Images/Neptune.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.4;

    p {
        font-size: 20px;
        margin: 0% 100%;
    }
}

#uranus {
    position: absolute;
    top: 10%;
    right: 0;
    width: 350px;
    height: 350px;
    background-image: url('Images/Uranus.png');
    background-size: contain;   
    background-repeat: no-repeat;
    opacity: 0.4;

    p {
        font-size: 20px;
        margin-top: 0%;
        margin-left: -25%;
    }

}

#launchpad {
    position: absolute;
    margin-top: 12%;
    margin-left: 50%;
}

@keyframes mars_planet_rotation{
    from{
        background-position: 0px 0;
    }to{
        background-position: 950px 0;
    }
}

@keyframes earth_planet_rotation{
    from{
        background-position: 1250px 0;
    }to{
        background-position: 0px 0;
    }
}

@keyframes venus_planet_rotation{
    from{
        background-position: 600px 0;
    }to{
        background-position: 0px 0;
    }
}

@media only screen and (max-width: 1300px){
    #sun img{
        display: none;
    }
    #mercury img{
        display: none;
    }
    #venus img{
        display: none;
    }
    #earth img{
        display: none;
    }
    #mars img{
        display: none;
    }
    #jupiter img{
        display: none;
    }
    #saturn img{
        display: none;
    }
    #uranus img{
        display: none;
    }
    #neptune img{
        display: none;
    }
}   